$primary_color: #29abe2;
$accent_color: #F50057;

body {
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 1em;
  line-height: 1.6em;
}

iframe {
  max-width: 100%;
  width: 90%;
  margin: 1em auto;
  display: block;
}

footer {
  margin: 40px 0 0 !important;
  padding: 0 !important;

  .site-footer {
    color: white;
    background-color: #666666;
    margin-top: 18px;
    padding: 18px;

    a {
      color: white;
    }


    .fixed-footer {
      display: flex;
      flex-flow: row wrap;
      margin: 1em auto 2em;

      p {
        margin: 0 16px;

        a {
          display: block;
          padding: 8px;
        }
      }
    }
  }

  .tags-footer {
  }
}

.mdc-chip-set {
  .mdc-chip {
    background-color: $primary_color;
    color: white;

    &:hover {
      background-color: lighten($accent_color, 20%);
    }
  }
  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}
