version: 2.1

jobs:
  build:
    working_directory: ~/project/{{ORG_NAME}}/{{REPO_NAME}}
    docker:
      - image: cimg/go:1.24.9-node
    steps:
      - run:
          name: install hugo
          command: |
            sudo apt update
            mkdir ~/project/hugo
            cd ~/project/hugo
            wget https://github.com/gohugoio/hugo/releases/download/v0.153.5/hugo_extended_0.153.5_linux-amd64.deb
            sudo dpkg -i hugo_extended_0.153.5_linux-amd64.deb
      - run:
          name: display versions
          command: |
            hugo version
            pwd
            cd ~/project/{{ORG_NAME}}/{{REPO_NAME}}
      - checkout
      - run:
          name: sync submodule
          command: |
            git submodule sync
            git submodule update --init
      - restore_cache:
          keys:
            - node_modules-cache-{{ checksum "package-lock.json" }}
      - run: npm i
      - save_cache:
          key: node_modules-cache-{{ checksum "package-lock.json" }}
          paths:
            - node_modules/
      - run:
          name: install brew and sass
          command: |
            sudo apt-get install build-essential procps curl file git
            /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
            test -d ~/.linuxbrew && eval "$(~/.linuxbrew/bin/brew shellenv)"
            test -d /home/linuxbrew/.linuxbrew && eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
            echo "eval \"\$($(brew --prefix)/bin/brew shellenv)\"" >> ~/.bashrc
            brew install sass/sass/sass
            which sass
            export PATH="$PATH:/home/linuxbrew/.linuxbrew/bin/sass"
      - run:
          name: check slug duplication
          command: ./scripts/check_slug_duplicate.sh
      - run:
          name: check slug duplication
          command: ./scripts/check_slug_duplicate.sh
