version: 2.1

jobs:
  build:
    working_directory: ~/project/{{ORG_NAME}}/{{REPO_NAME}}
    docker:
      - image: cimg/go:1.24.9-node
    steps:
      - run:
          name: install hugo
          command: |
            sudo apt update
            mkdir ~/project/hugo
            cd ~/project/hugo
            wget https://github.com/gohugoio/hugo/releases/download/v0.152.2/hugo_0.152.2_linux-amd64.deb
            sudo dpkg -i hugo_0.152.2_linux-amd64.deb
            hugo version
            pwd
            cd ~/project/{{ORG_NAME}}/{{REPO_NAME}}
      - checkout
      - run:
          name: sync submodule
          command: |
            git submodule sync
            git submodule update --init
      - restore_cache:
          keys:
            - node_modules-cache-{{ checksum "package-lock.json" }}
      - run: npm i
      - save_cache:
          key: node_modules-cache-{{ checksum "package-lock.json" }}
          paths:
            - node_modules/
      - run:
          name: check slug duplication
          command: ./scripts/check_slug_duplicate.sh
