{{ define "main"}}

    {{/* main section layout*/}}
    <main id="single" role="main">
        <div class="article-header">
            <h1>{{ .Title }}</h1>
            <div class="meta">
                Last Update: {{ .Lastmod.Format .Site.Params.dateFormat }}
            </div>
            {{- with .Params.tags -}}
                <div class="mdc-chip-set">
                    {{ range . }}
                        <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">
                            <div class="mdc-chip">
                                <div class="mdc-chip__text">
                                    {{ . }}
                                </div>
                            </div>
                        </a>
                    {{ end }}
                </div>
            {{- end -}}
        </div>
        <article>
            {{ .Content }}

            {{/* ShareThis Buttons */}}
            {{ with .Site.Params.shareThis }}
                <div id="share-this" class="col span_10">
                    <span class='st_twitter_large' displayText='Tweet'></span>
                    <span class='st_facebook_large' displayText='Facebook'></span>
                    <span class='st_googleplus_large' displayText='Google +'></span>
                    <span class='st_pocket_large' displayText='Pocket'></span>
                    <span class='st_sharethis_large' displayText='ShareThis'></span>
                    <span class='st_email_large' displayText='Email'></span>
                </div>
            {{ end }}
        </article>
        {{ partial "disqus.html" . }}
    </main>

    <nav class="pagination-single">
        {{ with .NextInSection }}
            <span class="previous">&larr; <a href="{{ .Permalink }}"
                                             rel="prev">{{ .Title }}</a></span>
        {{ end }}
        {{ with .PrevInSection }}
            <span class="next"><a href="{{ .Permalink }}"
                                  rel="next">{{ .Title }}</a> &rarr;</span>
        {{ end }}
    </nav>

    {{ partial "amazon_wish_list.html" . }}

{{ end }}
