{{ define "main"}}

    {{/* main section layout*/}}
    <main id="single" role="main">
        <div class="article-header">
            <h1>{{ .Title }}</h1>
            <div class="meta">
                Last Update: {{ .Lastmod.Format .Site.Params.dateFormat }}
            </div>
            {{- with .Params.tags -}}
                <div class="mdc-chip-set">
                    {{ range . }}
                        <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">
                            <div class="mdc-chip">
                                <div class="mdc-chip__text">
                                    {{ . }}
                                </div>
                            </div>
                        </a>
                    {{ end }}
                </div>
            {{- end -}}
        </div>
        <article>
            {{ .Content }}

            <div class="pull_request_with_github">
                <i class="fab fa-github"></i>
                <a href="{{.Site.Params.githubBaseUrl}}{{.File.Path}}">記事の内容に修正リクエストを送る</a>
            </div>
        </article>
    </main>

    {{ partial "amazon_wish_list.html" . }}

    <nav class="pagination-single">
        {{ with .NextInSection }}
            <span class="previous">&larr; <a href="{{ .Permalink }}"
                                             rel="prev">{{ .Title }}</a></span>
        {{ end }}
        {{ with .PrevInSection }}
            <span class="next"><a href="{{ .Permalink }}"
                                  rel="next">{{ .Title }}</a> &rarr;</span>
        {{ end }}
    </nav>

{{ end }}
