.post__header {
	border-bottom: 1px dotted;
	margin-bottom: 2em;
}

.post__footer {
	margin-top: 2em;
	border-top: 1px dotted;
}

.pull_request_with_github {
	font-size: 0.9em;
	text-align: end;
	margin: 1em;
}