{{ define "main"}}

    {{/* main section layout*/}}
    <main id="single" role="main">
        <div class="article-header">
            <h1>{{ .Title }}</h1>
            <div class="meta">
                Last Update: {{ .Lastmod.Format .Site.Params.dateFormat }}
            </div>
            {{- with .Params.tags -}}
                <div class="mdc-chip-set">
                    {{ range . }}
                        <div class="mdc-chip">
                            <div class="mdc-chip__text">
                                <a href="/tags/{{ . | urlize }}">{{ . }}</a>
                            </div>
                        </div>
                    {{ end }}
                </div>
            {{- end -}}
        </div>
        <article>
            {{ .Content }}
        </article>
    </main>

{{ end }}
